doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='styles.css')
  // <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>  <title>Analyst dashboard</title>
img(src='C:\Users\sonal\Desktop\image.jpg' width='1400' height='1200')
.login1
  h1 Response For Trade 
  form(method='post')
    .inp
      h3
        | Id
        input(type='text' name='dealId' required='required' readOnly id="dealId")
      h3
        | Bargain amount
        input(type='number' name='bargainedPrice' required='required' id="bargainedPrice")
    input.btn9.btn-primary.btn-block.btn-large(type='submit') GO
