header.header
      section.flex
        a.logo(href='#home')
          span B
          | UG 
          span S
          | LAYERS
        nav.navbar
            a(href='/') home
            a(href='/me') View profile
            form(class="logout--form")
              input.btn1(type="submit" value="logout" id="logout" style="margin-left:20px;")
            
        #menu-btn.fas.fa-bars